@model proyecto_final_asp.Models.Cliente

@Html.AntiForgeryToken();
@{
    ViewBag.Title = "RegistracionCliente";
}
<h1>Registracion de usuarios</h1>
<div class="jumbotron">
    @using (Html.BeginForm("FormCliente", "RegistrarUsuario", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.Label("Nombre:")
        @Html.TextBoxFor(x => x.NombreEvento)
        @Html.ValidationMessageFor(x => x.NombreEvento)<br />


        @Html.Label("Email:")
        @Html.TextBoxFor(x => x.Email)
        @Html.ValidationMessageFor(x => x.Email)<br />

        @Html.Label("Contraseña:")
        @Html.TextBoxFor(x => x.Contraseña)
        @Html.ValidationMessageFor(x => x.Contraseña)<br />

        @Html.Label("Imagen (opcional):")
        @Html.TextBoxFor(x => x.Imagen, new { Type = "file" }))
        @Html.ValidationMessageFor(x => x.Imagen)<br />

        <input type="submit" value="Enviar" />
    </div>
    }

