@model proyecto_final_asp.Models.Usuario

@Html.AntiForgeryToken();
@{
    ViewBag.Title = "RegistracionUsuario";
}
    <h1>Registracion de usuarios</h1>
    <div class="jumbotron">
    @using (Html.BeginForm("FormUsuario", "RegistrarUsuario", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.Label("Nombre:")
        @Html.TextBoxFor(x => x.Nombre)
        @Html.ValidationMessageFor(x => x.Nombre)<br />

        @Html.Label("Apellido:")
        @Html.TextBoxFor(x => x.Apellido)
        @Html.ValidationMessageFor(x => x.Apellido)<br />

        @Html.Label("Email:")
        @Html.TextBoxFor(x => x.Email)
        @Html.ValidationMessageFor(x => x.Email)<br />

        @Html.Label("Contraseña:")
        @Html.TextBoxFor(x => x.Contraseña)
        @Html.ValidationMessageFor(x => x.Contraseña)<br />

        @Html.Label("Imagen (opcional):")
        @Html.TextBoxFor(x => x.Imagen, new { Type = "file" }))
        @Html.ValidationMessageFor(x => x.Imagen)<br />

        <input type="submit" value="Enviar" />
        </div>
    }

